<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RavenDB.Client" version="3.5.9" targetFramework="net472" />
  <package id="RavenDB.Client.Contrib" version="2.5.0" targetFramework="net472" />
  <package id="RavenDB.Database" version="3.5.9" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
</packages>